* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #a1d1f8;
    border-bottom: 0.01rem solid #9e9e9e;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
}
nav {
    margin-top: 0.5rem;
}
main {
    flex: 1 0 auto;
    margin: 0 3rem 0 3rem;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
h1 {
    text-align: center;
    margin: 1rem 0 1rem 0;
}
ul {
    list-style: none;
}
footer {
    background-color: #dfdfdf;
    text-align: center;
    margin-top: 3rem;
    padding: 0.5rem 0 0.5rem 0;
    flex-shrink: 0;
    border-top: 0.01rem solid #9e9e9e;
}
footer img {
    display: block;
    margin: auto;
}
.bio-container {
    margin-top: 2rem;
    
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .bio-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    .bio-links-container {
        float: clear;
    }
}
.bio-greeting-container {
    text-align: center;
}
.bio-img-container {

}
.bio-info {
    margin-left: 3rem;
}
.bio-img {
    display: block;
    margin: 1rem auto 1rem auto;
    max-width: 100%;
}
.bio-links-container {
    text-align: center;
    margin-top: 1rem;
}
.bio-links-grid {
    display: flex;
    justify-content: space-evenly;
}
.bio-link {
    margin: 1rem 1rem 0 0;
}
.nav-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.footer-grid {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.footer-name {
    margin-left: 15%;
    align-self: center;
    justify-self: start;
}
.footer-icons {
    margin-right: 15%;
    justify-self: end;
}
.footer-grid img {
    width: 32px;
    height: 32px;
}
.project-grid {
    display: flex;
    justify-content: space-between;
}
.project-info {
}
.project-screenshot {
}


/* TODO: add media query breakpoints
— phones: < 768px
— tablets: >= 768px
— desktops: >= 992px
— big desktops: >= 1200px */